<section class="tasks-container">
{{task-list model=model toggleIsFinished=(action "toggleIsFinished") editName=(action "editName") addTask=(action "addTask") deleteTask=(action "deleteTask")}}
</section>